@model AcunMedyaFestavaLive.Entities.Ticket
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <h3>Bilet Güncelleme</h3>
    <form method="post">
        @Html.HiddenFor(t=>t.TicketID)
        <label>Bilet Başlığı</label>
        @Html.TextBoxFor(t => t.Title, new { @class = "form-control", id = "Title" })
        <br />
        <label>Bilet Açıklaması</label>
        @Html.TextBoxFor(t => t.Description, new { @class = "form-control", id = "Description" })
        <br />
        <label>Bilet Fiyatı</label>
        @Html.TextBoxFor(t => t.Price, new { @class = "form-control", id = "Price" })
        <br />
        <label>Nitelik 1</label>
        @Html.TextBoxFor(t => t.TicketProperty1, new { @class = "form-control", id = "TicketProperty1" })
        <br />
        <label>Nitelik 2</label>
        @Html.TextBoxFor(t => t.TicketProperty2, new { @class = "form-control", id = "TicketProperty2" })
        <br />
        <label>Nitelik 3</label>
        @Html.TextBoxFor(t => t.TicketProperty3, new { @class = "form-control", id = "TicketProperty3" })
        <br />
        <label>Nitelik 4</label>
        @Html.TextBoxFor(t => t.TicketProperty4, new { @class = "form-control", id = "TicketProperty4" })
        <br />
        <label>Nitelik 5</label>
        @Html.TextBoxFor(t => t.TicketProperty5, new { @class = "form-control", id = "TicketProperty5" })
        <br />
        <label>Nitelik 6</label>
        @Html.TextBoxFor(t => t.TicketProperty6, new { @class = "form-control", id = "TicketProperty6" })
        <br />
        <button class="btn btn-primary">Bileti Güncelle</button>
    </form>
</div>