
<!DOCTYPE html>
<html>

<head>
    @Html.Action("PartialHead", "Layout")
</head>

<body>

    @Html.Action("PartialSidebar", "Layout")

    <div class="main-content" id="panel">

        @Html.Action("PartialNavbar", "Layout")

        @RenderBody()
    </div>

    @Html.Action("PartialScript", "Layout")
</body>

</html>
